:host div {
  padding: 2rem;
}

#my-icon {
  padding: 0.5rem 0.7rem;
  border-radius: 50%;
  background: #000;
  color: white;
  cursor: pointer;
}

#explanation {
  opacity: 0.5;
  transition: all 1s;
}

:host([explanation-text]) #explanation {
  opacity: 1;
}
